@keyframes ppicture {
  0% {
    border-top-left-radius: 30%;
    border-top-right-radius: 70%;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 30%;
  }
  25% {
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
  }
  50% {
    border-top-left-radius: 70%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 70%;
  }
  100% {
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
  }
}
