.header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(77, 34, 119, 0.75);
  margin: -10px -10px 0 -10px;
  width: 100%;
  top: 0;
  position: fixed;
}

.body-content {
  margin-top: 140px;
  text-align: center;
}

html {
  background-color: rgb(224, 234, 241);
}

.header-text {
  color: rgb(30, 15, 30);
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.portfolios {
  text-align: center;
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: inline-block;
  padding: 0;
}

li {
  float: left;
}

/*man fuck these shitty ass link anchors,
 all my homies hate link anchors*/
li a {
  display: block;
  padding: 0 16px 0 16px;
  margin-left: 70px;
  margin-right: 70px;
}

#home {
  width: 75px;
  height: 75px;
}

#blender {
  width: 75px;
  height: 75px;
}

#apps {
  width: 75px;
  height: 75px;
}

#games {
  width: 95px;
  height: 75px;
}

li a:hover {
  background-color: rgb(100, 70, 130);
}

li a:active {
  background-color: rgb(19, 47, 169);
}

.icons {
  border-radius: 5%;
  box-shadow: 5px 5px 5px rgb(92, 85, 85);
  display: block;
  width: 50px;
  margin: 16px;
  text-align: center;
}

.profile-picture {
  width: 280px;
  margin: 20px;
  border-radius: 40%;
  border: 5px dotted#555;
  border-color: rgb(48, 182, 48);
}

#name {
  margin-bottom: 0;
}
